{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/roses.jpeg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>My name is Thuy Tran, a recently naturalized U.S. citizen from Vietnam. Since I was young, I have
                idolized
                the nurses and doctors who saved my father from a life-threatening liver condition and have been
                passionate
                about pursuing a career in health care. I came here with almost nothing and step by step have overcome
                the
                obstacles present in an alien culture and educational system to pursue my dream of helping others as a
                nurse.
                I began by volunteering at the Kaiser South ER where I was able to help patients and their families
                during
                their times of hardship and admired the staff that efficiently reacted to emergencies. At Sacramento
                State, I participated in clinical rotations and a preceptorship at many of the local hospitals, where my
                inquisitiveness and decisiveness were noted both by my clinical faculties, the nurses I was assigned to
                work under, as well as supervising physicians.</p>

                <p>In my final clinical evaluation, it was noted that I
                “used all resources available to seek out answers, often even approaching providers to ask questions
                when nurses couldn’t resolve my inquiries.” (Tenaya Natov, RN, Clinical Instructor). I always wanted to
                make sure I knew as much as possible about my assigned patients in order to secure the best possible
                outcomes for them. This paid off when I was instrumental in saving a newborn’s life during my Obstetrics
                rotation at Mercy San Juan. I was also commended in my ER clinical rotation at Mercy General by the
                staff and physicians for my decisive actions in helping a patient to the catheterization lab after a
                STEMI. In my work at UCDMC as an Extern on D14, I also alerted staff to a patient with an obstructed
                airway during the night shift and worked with the charge nurse and the patient’s primary nurse to help
                clear his airway and restore normal breathing.</p>

            <p>All my hard work and determination was rewarded with the opportunity to have my preceptorship in the ER.
                I was progressively more responsible for patient care, under my preceptor’s supervision, and got a taste
                of what it is like to work as an RN in the ER. I experienced the upsides and the downsides of working
                with critical patients both in my preceptorship and when an unborn child died right before a scheduled
                C-section. I
                knew I had to continue nursing to be there to help those that I could and do my best for the families of
                those that I could not.</p>

            <p>It has taken resilience, plenty of hard work and diligence to get where I am now, and I am so thankful
                for those that supported me along the way. I want to be a part of a team that creates a culture of
                inclusion, support, and professionalism for the ultimate goal of reliable and exceptional teamwork and
                patient care.</p>

            <p>Sincerely,
                Thuy Tran</p>

        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}